* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #3d107b;
  font-family: "Jost", sans-serif;
  width: 100%;
  display: block;
  margin: auto;
  overflow-x: hidden;
}

.headMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 110px;
  background: linear-gradient(
    180deg,
    #3d107b,
    #3d107be2,
    #3d107ba5,
    #3d107b7d,
    #3d107b00
  );
  z-index: 1000;

  /* alinhamento só dos links (não da logo) */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* LINKS À ESQUERDA */
.linksMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links {
  margin: 3vh 0 2vh 5vw;
  font: 400 25px "Jost", sans-serif;
  color: whitesmoke;
  transform: scale(100%);
  transition: all 0.2s ease;
  background: none;
  border: none;
}
.links:hover {
  transform: scale(115%);
}

/* LOGO FIXA NO CANTO SUPERIOR DIREITO */
.japonetsLogo {
  position: fixed;
  top: 3vh;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: 500 25px "Jost", sans-serif;
  color: #00b308;
  transform: scale(1.5);
  transform-origin: center;
  transition: all 0.2s ease;
}
.japonetsLogo:hover {
  transform: scale(165%);
}
.japonetsLogo #sol {
  margin: 5px;
  transform: translateY(1.5px);
  width: 22px;
  height: 22px;
  background: rgb(202, 22, 22);
  border-radius: 100%;
}

/* empurra o conteúdo principal para baixo do header fixo */
.Meat {
  margin-top: 130vh;
}

.jaba1 {
  margin-top: 10%;
  margin-left: 5vw;
  font: 400 100px "Pixelify Sans", sans-serif;
  color: whitesmoke;
}

.restImg {
  display: flex;
  justify-content: center;
}
.restImg img {
  mix-blend-mode: luminosity;
  margin: 5% 5vw 0 5vw;
  max-width: 90vw;
  max-height: auto;
  border-radius: 30px;
}

.inspirationalQuote {
  margin: 1% auto 0 auto;
  max-width: 90vw;
  height: 80px;
  color: whitesmoke;
  background: rgba(34, 0, 81, 0.73);
  border-radius: 25px;
}

.inspirationalQuote #quote {
  display: flex;
  font: 400 33px "Oxanium", sans-serif;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.inspirationalQuote #autor {
  display: flex;
  font: 400 20px "Oxanium", sans-serif;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.titleCode {
  margin: 20% auto 0px auto;
  text-align: center;
  position: relative;
}

.titleCode #titleCourse {
  font: 400 150px "Pixelify sans", sans-serif;
  color: whitesmoke;
  margin-bottom: 0;
  line-height: 1;
}
.titleCode #subtitleCourse {
  font: 400 25px "Pixelify sans", sans-serif;
  color: #1aff00;
  margin-top: 0;
  margin-bottom: 75px;
  line-height: 1;
}

.multiImg {
  position: relative;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  background-color: #3d107b;
}
.child {
  width: 20vw;
  height: 680px;
  margin-right: 1vw;
  margin-left: 1vw;
  mix-blend-mode: luminosity;
  overflow: hidden;
}
.child #genshin {
  transform: scale(3) translate(-2vw, 90px);
}
.child #mario {
  transform: scale(1.2) translate(-6vw, 50px);
}
.middlechild {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 10;
  border-radius: 3000px;
  overflow: hidden;
  mix-blend-mode: luminosity;
}

.child #tinyThor {
  transform: scale(1.5) translate(-3vw, 70px);
}
.child #hyper {
  transform: scale(2.5) translate(-2vw, 90px);
}

.multiImg #madeline {
  position: absolute;
  top: 77%;
  right: 89%;
  transform-origin: center;
  transform: scale(1.5);
  z-index: 1000;
  mix-blend-mode: luminosity;
}

#sobre {
  margin: 10% 10% 20% 10%;
  width: auto;
  height: auto;
  color: whitesmoke;
}

#objetivoTitle {
  font: 500 110px "Days One", sans-serif;
  text-align: center;
  margin: 5%;
}
#objetivoText {
  font: 400 25px "Jost", sans-serif;
}
#objetivoText span {
  font: 550 25px "Jost", sans-serif;
  color: #ee8aff;
}
#objetivoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#objetivoSvg {
  margin-left: 8%;
  width: 500px;
  height: 500px;
  transform-origin: center;
  transform: rotate(35deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#objetivoSvg svg {
  width: 600px;
  height: 600px;
}

.jabaProgramacao {
  margin-top: 100px;
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programarDificilBox {
  color: whitesmoke;
}
.programarDificilBox #programarDificil {
  font: 400 120px "Gabarito", sans-serif;
}
.programarDificilBox #programarDificilText {
  margin-top: 2%;
  margin-right: 20%;
  font: 400 25px "Gabarito", sans-serif;
}
.destaque {
  color: #ee8aff;
}
.multiImg2 {
  position: relative;
}
.multiImg2 #mountainCeleste img {
  border-radius: 30px;
  mix-blend-mode: luminosity;
}
.multiImg2 #bichoSilksong {
  position: absolute;
  transform: scale(0.4);
  top: 45%;
  right: 50%;
}

.freeCourse {
  margin-top: 150px;
  margin-bottom: 90px;
  color: whitesmoke;
}
.freeCourse p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeCourse #titleFree {
  font: 450 28px "Days One", sans-serif;
}

.freeCourse #textFree {
  font: 450 15px "DM Sans", sans-serif;
  padding-right: 0.7%;
}

.aulas #aulasText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aulas #aulasText p {
  border-radius: 3000px;
  text-align: center;
  font: 400 25px "Mada", sans-serif;
  width: 10vw;
  color: whitesmoke;
  background-color: black;
}
.aulasBox {
  width: 80vw;
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.338);
  overflow: hidden;
  margin: 50px auto 50px auto;
  display: block;
  border-radius: 30px;
  position: relative;
}

.aulasBox img {
  width: 82vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.338);
  margin: auto;
  z-index: -1;
  mix-blend-mode: luminosity;
  display: block;
  border-radius: 30px;
  position: absolute;
  filter: brightness(50%);
}

#banner1 {
  transform: translate(0, -12vh);
}
#banner2 {
  transform: translate(0, -22vh);
}
#banner3 {
  transform: translate(36vw, 5vh);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px -1px 30px;
  flex-shrink: 0;
}

#cicle1 {
  background-color: #6a00ff;
  color: whitesmoke;
  font-family: "Gigudu", sans-serif;
}
#cicle2 {
  background-color: #ed1010;
  color: whitesmoke;
  font-family: "Gigudu", sans-serif;
}
#cicle3 {
  background-color: #01c63c;
  color: whitesmoke;
  font-family: "Gigudu", sans-serif;
}

.aulasCircle.aulasC1 {
  background-color: #6a00ff;
}
.aulasCircle.aulasC2 {
  background-color: #ed1010;
}
.aulasCircle.aulasC3 {
  background-color: #01c63c;
}

.aulasFlex {
  margin: 25px 20px 35px 130px;
  display: flex;
}
.aulasFlex p {
  margin: auto 20px auto 10px;
  line-height: 1;
  font: 500 20px "GFS Neohellenic", sans-serif;
  color: whitesmoke;
}
.aulasCircle {
  transform: translate(0, 4px);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: whitesmoke;
  flex-shrink: 0;
}
.effectsAulas {
  width: 7px;
  margin-left: 46px;
  height: 75%;
  background-color: #1aff00;
  position: absolute;
}

#effects1 {
  background: linear-gradient(180deg, #6a00ff, #6a00ff7e, #6a00ff44, #6a00ff00);
}
#effects2 {
  background: linear-gradient(180deg, #ed1010, #ed10107a, #ed101042, #ed101000);
}
#effects3 {
  background: linear-gradient(180deg, #01c63c, #01c63c79, #01c63c49, #01c63c00);
}

#point {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: whitesmoke;
}

.groupLimit {
  position: relative;
  width: auto;
  height: auto;
  margin: 30% auto 10% auto;
}
.blur {
  position: absolute;
  top: -3%;
  left: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
}
.groupText {
  color: whitesmoke;
  text-align: center;
  z-index: 1;
  margin-bottom: 150px;
}
.groupText #groupTitle {
  font: 500 28px "Days One", sans-serif;
}
.groupText #groupSubtitle {
  font: 400 20px "Lexend Peta", sans-serif;
}

.groupJaponets {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 60vh;
  background-color: #4a1496;
  border-radius: 50px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: whitesmoke;
  position: relative;
  z-index: 2;
  overflow: visible;
}

#groupBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a1496;
  border-radius: 50px;
  z-index: 1;
  overflow: visible;
}

#groupBoxEffect {
  position: absolute;
  top: 5%;
  left: -1.5%;
  width: 100%;
  height: 100%;
  background-color: #2c0a6f; /* cor diferente para o efeito */
  border-radius: 50px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: whitesmoke;
  overflow: hidden;
  z-index: -1; /* Fica atrás do .groupJaponets */
}
#profileBox {
  margin: 30px 4vw 30px 4vw;
  display: flex;
}
#profileCicle {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: whitesmoke;

  background-size: cover; /* cobre toda a área do círculo */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  flex-shrink: 0;
  margin: 0;
}

#profileText {
  color: whitesmoke;
}
#profileText #nomes {
  margin: 15px 0 0 2vw;
  font: 500 25px "DynaPuff", sans-serif;
}
#info {
  display: flex;
}
#info p {
  margin: 5px 0px 0px 2vw;
  font: 500 20px "Jost", sans-serif;
}
#textJaponets {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#textJaponets #bio {
  margin: 0px 12vw 0px 12vw;
  color: whitesmoke;
}
#bio p {
  font: 400 25px "Jost", sans-serif;
  width: 66vw;
  height: 25vh;
}
.botao {
  background: linear-gradient(0deg, #9d00ff, #6c10ed);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  font-family: "Jockey One", sans-serif;
  font-size: 60px;
  transform: scale(140%);
  transition: all 0.2s ease;
}
.botao:hover {
  transform: scale(155%);
  background: linear-gradient(0deg, #e550ff, #ad3aff);
}
#leftButton {
  left: -1.5%;
}
#rightButton {
  right: -1.5%;
}

#duvidasTitle {
  font: 450 60px "lexend Peta", sans-serif;
  margin: 20% 10px 20px 10%;
  color: whitesmoke;
}

.duvidas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 10% 10% 10%;
}
.duvidasTextBox {
  margin: 0 25% 0 0;
  color: whitesmoke;
}
.question {
  font: 450 40px "Imprima", sans-serif;
  margin-bottom: 5%;
}
.answer {
  font: 400 20px "Imprima", sans-serif;
  margin-bottom: 5%;
}

#duvidasImg img {
  width: 35vw;
  height: auto;
  border-radius: 33px;
  border-style: solid;
  border-color: #ab4ae7;
  border-width: 0px 1px 2px 0px;
}

.redesSociais {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redesSociais svg {
  margin: 20px;
  width: 40px;
  height: 40px;
  transform: scale(100%);
  transition: all 0.2s ease;
}
.redesSociais svg:hover {
  transform: scale(115%);
}

@media (max-width: 1100px) {
  .headMenu {
    position: fixed;
    width: 100%;
    min-height: 110px;
  }

  .linksMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .links {
    margin: 3px 0 10px 5vw;
    font: 400 20px "Jost", sans-serif;
    color: whitesmoke;
    transform: scale(100%);
    transition: all 0.2s ease;
    background: none;
    border: none;
  }

  .japonetsLogo {
    position: fixed;
    top: 35px;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 500 25px "Jost", sans-serif;
    color: #00b308;
    transform: scale(1.2);
    transform-origin: center;
    transition: all 0.2s ease;
  }
  .japonetsLogo:hover {
    transform: scale(1.5);
  }
  .japonetsLogo #sol {
    margin: 5px;
    transform: translateY(1.5px);
    width: 22px;
    height: 22px;
    background: rgb(202, 22, 22);
    border-radius: 100%;
  }

  .jaba1 {
    margin-top: 10%;
    margin-left: 5vw;
    font: 400 50px "Pixelify Sans", sans-serif;
    color: whitesmoke;
  }

  .restImg {
    display: flex;
    justify-content: center;
  }
  .restImg img {
    mix-blend-mode: luminosity;
    margin: 5% 5vw 0 5vw;
    max-width: 100vh;
    max-height: auto;
    border-radius: 30px;
  }

  .inspirationalQuote {
    margin: 2% auto 0 auto;
    max-width: 100vh;
  }

  .inspirationalQuote #quote {
    margin: 1%;
    font: 400 20px "Oxanium", sans-serif;
    text-align: center;
  }
  .inspirationalQuote #autor {
    font: 400 15px "Oxanium", sans-serif;
  }

  .titleCode {
    margin: 20% auto 0 auto;
    text-align: center;
    position: relative;
  }

  .titleCode #titleCourse {
    font: 400 100px "Pixelify sans", sans-serif;
    color: whitesmoke;
    margin-bottom: 0;
    line-height: 1;
  }
  .titleCode #subtitleCourse {
    font: 400 20px "Pixelify sans", sans-serif;
    color: #1aff00;
    margin-top: 0;
    margin-bottom: 75px;
    line-height: 1;
  }

  .child {
    height: 680px;
    mix-blend-mode: luminosity;
    overflow: hidden;
  }
  .child #genshin {
    transform: scale(3) translate(-4vw, 80px);
  }
  .child #mario {
    transform: scale(1.2) translate(-11vw, 50px);
  }
  .middlechild {
    transform: translate(-50%, -50%) scale(0.75);
    display: block;
  }
  .child #tinyThor {
    transform: scale(1.5) translate(-8vw, 80px);
  }
  .child #hyper {
    transform: scale(2.5) translate(-4.5vw, 80px);
  }

  .multiImg #madeline {
    top: 77%;
    right: 85%;
    transform-origin: center;
    transform: scale(1.5);
  }

  #sobre {
    margin: 10% 10% 20% 10%;
    width: auto;
    height: auto;
    color: whitesmoke;
  }

  #objetivoTitle {
    font: 500 100px "Days One", sans-serif;
    text-align: center;
    margin: 5%;
  }
  #objetivoText {
    font: 400 20px "Jost", sans-serif;
  }
  #objetivoText span {
    font: 550 20px "Jost", sans-serif;
    color: #ee8aff;
  }
  #objetivoBox {
    display: block;
    margin: auto;
  }
  #objetivoSvg {
    display: block;
    margin: 5% auto auto auto;
    width: 300px;
    height: 300px;
  }
  #objetivoSvg svg {
    width: 300px;
    height: 300px;
  }

  .jabaProgramacao {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
  }

  .programarDificilBox {
    color: whitesmoke;
    display: block;
  }
  .programarDificilBox #programarDificil {
    font: 400 80px "Gabarito", sans-serif;
    display: flex;
    justify-content: center;
  }
  .programarDificilBox #programarDificilText {
    display: block;
    margin: 3% auto 3% auto;
    font: 400 20px "Gabarito", sans-serif;
  }
  .multiImg2 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .multiImg2 #bichoSilksong {
    position: absolute;
    transform: scale(0.4);
    top: 45%;
    right: 50%;
  }

  .aulasBox {
    width: 80vw;
  }

  .aulasBox img {
    width: 100vw;
    height: auto;
  }

  #banner1 {
    transform: translate(-20vw, -10vh);
  }
  #banner2 {
    transform: translate(-15vw, -15vh);
  }
  #banner3 {
    transform: translate(35vw, 10vh);
  }

  .groupText {
    color: whitesmoke;
    text-align: center;
    z-index: 1;
    margin-bottom: 150px;
  }

  #profileCicle {
    width: 80px;
    height: 80px;
  }

  #textJaponets {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: normal;
  }
  #textJaponets #bio {
    margin: 0px 12vw 0px 12vw;
    color: whitesmoke;
  }
  #bio p {
    font: 400 16px "Jost", sans-serif;
  }
  .botao {
    width: 60px;
    height: 60px;
    transform: scale(140%);
  }
  .botao:hover {
    transform: scale(155%);
  }
  #leftButton {
    left: -1.5%;
  }
  #rightButton {
    right: -1.5%;
  }
  #duvidasTitle {
    font: 450 50px "lexend Peta", sans-serif;
    margin: 20% 10vw 20px 10%;
    color: whitesmoke;
  }
  .duvidas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 10% 10% 10%;
  }
  .duvidasTextBox {
    margin: 0px 25% 0 0;
  }
  .question {
    font: 450 20px "Imprima", sans-serif;
  }
  .answer {
    font: 400 15px "Imprima", sans-serif;
  }
  #duvidasImg img {
    width: 30vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  body {
    width: 100%;
    display: block;
    margin: auto;
    overflow-x: hidden;
  }
  .headMenu {
    position: fixed;
    width: 100%;
    min-height: 110px;
  }

  .linksMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .links {
    font: 400 20px "Jost", sans-serif;
    color: whitesmoke;
    transform: scale(100%);
    transition: all 0.2s ease;
    background: none;
    border: none;
  }

  .japonetsLogo {
    position: fixed;
    top: 35px;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 500 25px "Jost", sans-serif;
    color: #00b308;
    transform: scale(1);
    transform-origin: center;
    transition: all 0.2s ease;
  }
  .japonetsLogo:hover {
    transform: scale(1.2);
  }
  .japonetsLogo #sol {
    transform: translateY(1.5px);
    width: 22px;
    height: 22px;
    background: rgb(202, 22, 22);
    border-radius: 100%;
  }

  .jaba1 {
    margin-top: 20%;
    font: 400 50px "Pixelify Sans", sans-serif;
    color: whitesmoke;
  }
  .restImg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: auto;
    border-radius: 30px;
    max-width: 90%;
    margin: 5% auto 0 auto;
  }
  .restImg img {
    mix-blend-mode: luminosity;
    margin: auto;
    max-height: auto;
  }

  .inspirationalQuote {
    margin: 2% auto 0 auto;
  }

  .inspirationalQuote #quote {
    font: 400 18px "Oxanium", sans-serif;
    text-align: center;
  }
  .inspirationalQuote #autor {
    font: 400 15px "Oxanium", sans-serif;
  }

  .titleCode {
    margin: 20% auto 0 auto;
    text-align: center;
    position: relative;
  }

  .titleCode #titleCourse {
    font: 400 18vw "Pixelify sans", sans-serif;
  }
  .titleCode #subtitleCourse {
    font: 400 5vw "Pixelify sans", sans-serif;
  }

  .multiImg {
    margin: 0 auto 0 auto;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    background-color: #3d107b;
  }
  .child {
    height: 400px;
    mix-blend-mode: luminosity;
    overflow: hidden;
  }
  .child #genshin {
    transform: scale(2) translate(-12vw, 30px);
  }
  .child #mario {
    transform: scale(1) translate(-28.5vw, -150px);
  }
  .middlechild {
    transform: translate(-50%, -50%) scale(0.55);
    display: block;
  }
  .child #tinyThor {
    transform: scale(1) translate(-20vw, -80px);
  }
  .child #hyper {
    transform: scale(2) translate(-11.5vw, 30px);
  }

  .multiImg #madeline {
    top: 77%;
    right: 75%;
    transform-origin: center;
    transform: scale(1.2);
  }

  #sobre {
    margin: 10% auto 20% auto;
    width: auto;
    height: auto;
    color: whitesmoke;
  }

  #objetivoTitle {
    font: 500 50px "Days One", sans-serif;
    text-align: center;
    margin: 10%;
  }
  #objetivoText {
    margin: auto 5vw auto 5vw;
    font: 400 20px "Jost", sans-serif;
  }
  #objetivoText span {
    font: 550 20px "Jost", sans-serif;
    color: #ee8aff;
  }
  #objetivoBox {
    display: block;
    margin: auto;
  }
  #objetivoSvg {
    display: block;
    margin: 5% auto auto auto;
    width: 300px;
    height: 300px;
  }
  #objetivoSvg svg {
    width: 300px;
    height: 300px;
  }

  .jabaProgramacao {
    margin: 1% auto 0px auto;
    display: block;
  }

  .programarDificilBox {
    color: whitesmoke;
    display: block;
  }
  .programarDificilBox #programarDificil {
    font: 500 50px "Gabarito", sans-serif;
    display: flex;
    justify-content: center;
  }
  .programarDificilBox #programarDificilText {
    display: block;
    margin: 3% 10vw 0 10vw;
    font: 400 18px "Gabarito", sans-serif;
  }
  .multiImg2 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .multiImg2 img {
    margin-top: 5%;
    width: 350px;
    height: auto;
    transform: scale(1);
  }
  .multiImg2 #bichoSilksong {
    position: absolute;
    transform: scale(0.4);
    top: 45%;
    right: 50%;
    margin: 0 auto 0 auto;
  }

  .freeCourse {
    margin: 100px 5vw 70px 5vw;
    display: block;
    color: whitesmoke;
  }

  .aulasBox {
    display: block;
    margin: 10% auto 10% auto;
  }

  .aulasBox img {
    width: 150vw;
    height: auto;
  }
  /*TODO : solve banner issue*/
  #banner1 {
    transform: translate(-45%, -10%);
  }
  #banner2 {
    transform: translate(-27%, -20%);
  }
  #banner3 {
    transform: translate(20%, 15%);
  }

  .aulasFlex {
    margin: 25px auto 35px 0;
    display: flex;
  }
  .aulasFlex p {
    margin: auto 2vw auto 2vw;
    line-height: 1;
    font: 400 18px "GFS Neohellenic", sans-serif;
    color: whitesmoke;
  }
  .aulasCircle {
    transform: translate(0, 4px);
    margin-left: 10vw;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: whitesmoke;
  }
  .blur {
    display: block; /*Desativar caso erro!*/
    width: 100%;
    height: 150%;
  }
  .groupText {
    color: whitesmoke;
    text-align: center;
    z-index: 1;
    margin-bottom: 150px;
  }
  .groupText #groupTitle {
    font: 500 20px "Days One", sans-serif;
  }
  .groupText #groupSubtitle {
    font: 400 15px "Lexend Peta", sans-serif;
  }
  .groupJaponets {
    margin-left: auto;
    margin-right: auto;
  }

  #profileCicle {
    width: 60px;
    height: 60px;
  }

  #profileText #nomes {
    font: 500 18px "DynaPuff", sans-serif;
    width: 100%;
  }
  #info p {
    font: 500 14px "Jost", sans-serif;
  }

  #textJaponets {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #textJaponets #bio {
    margin: 0px 12vw 0px 14vw;
    color: whitesmoke;
  }
  #bio p {
    font: 400 15px "Jost", sans-serif;
  }
  .botao {
    width: 40px;
    height: 40px;
    transform: scale(140%);
    bottom: -70%;
  }
  .botao:hover {
    transform: scale(155%);
  }
  #leftButton {
    left: 20%;
  }
  #rightButton {
    right: 20%;
  }
  #duvidasTitle {
    font: 450 40px "lexend Peta", sans-serif;
    margin: 20% auto 20px 10%;
    color: whitesmoke;
  }
  .duvidas {
    position: relative;
    display: block;
    margin: 4% 7vw 10% 7vw;
  }
  .duvidasTextBox {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .question {
    font: 450 20px "Imprima", sans-serif;
  }
  .answer {
    font: 400 15px "Imprima", sans-serif;
  }
  #duvidasImg {
    display: flex;
    justify-content: center;
  }
  #duvidasImg img {
    width: 50vw;
    height: auto;
  }
  .redesSociais {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
